{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block stylesheets %}
    <style>
        .LT_page_name, body > header, .edit_hide, .logout_hide {
            display: none;
        }

        @media screen and (min-width: 992px) {
            body > header, .edit_hide, .logout_hide {
                display: block;
            }
        }
    </style>
{% endblock %}

{% block body %}
    <main class="container-fluid mh-100" id="account_index">
        <div class="row">

            <header id="infos" class="col-12">
                <section class="menu">
                    <a href="{{ app.session.get('uri') }}">
                        <img src="{{ asset('build/images/back_arrow.450bf16e.svg') }}" alt="">
                    </a>
                    <p class="edit_hide" data-toggle="modal" data-target="#profilModal">Editer profil</p>
                    <div class="dropdown dropleft">
                        <img src="{{ asset('build/images/three_dot.619fd3b3.svg') }}" alt="" class="dropdown-toggle" data-toggle="dropdown">
                        <div class="dropdown-menu">
                            <p class="dropdown-item" data-toggle="modal" data-target="#profilModal">Editer profil</p>
                            <a class="dropdown-item" href="/logout">Se déconnecter</a>
                        </div>
                    </div>
                    <p class="logout_hide">Se déconnecter</p>
                </section>

                <div class="row">
                    <div class="col-md-3 col-lg-2">
                        {% if app.user.image is null %}
                            <svg height="160" width="160">
                                <circle cx="80" cy="80" r="60" stroke="white" stroke-width="2" fill="lightgrey" />
                                <text x="70" y="80" fill="dark">BD</text>
                            </svg>
                        {% else %}
                            <img src="{{ app.user.image }}" alt="photo" class="rounded-circle">
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div>
                            <h3>{{ app.user.firstname}} {{ app.user.lastname }}</h3>
                            <h6>{{ app.user.email }}</h6>
                            <hr>
                            <h5>Programme</h5>
                        </div>
                    </div>
                </div>

            </header>
        </div>

        <section id="quiz_check" class="row">

            <article class="checklist col-md-8 col-lg-4 shadow">
                <h3>Checklist</h3>
                <table>
                    <tbody>
                    <tr>
{#                            <td><img src="{{ asset('build/images/1.svg') }}" alt=""></td>#}
                        <td><span></span></td>
                        <td>Je m'informe sur les métiers <br><em>En regardant attentivement la vidéo</em></td>
                    </tr>
                    <tr>
{#                            <td><img src="{{ asset('build/images/2.svg') }}" alt=""></td>#}
                        <td><span></span></td>
                        <td>J'évalue mes connaissances <br><em>Un quiz, deux essais</em></td>
                    </tr>
                    <tr>
{#                            <td><img src="{{ asset('build/images/3.svg') }}" alt=""></td>#}
                        <td><span></span></td>
                        <td>Je prépare mon entretien <br><em>Suivez le guide !</em></td>
                    </tr>
                    </tbody>
                </table>
            </article>

            <article class="quiz col-md-8 col-lg-4 shadow">
                <h3>Quiz</h3>

                {% if not app.user.checklist.check1 %}

                    <p>
                        Pour accéder au quiz, tu dois au préalable
                        confirmer avoir bien pris connaissance
                        des ressources
                    </p>

                    <a href="{{ path('ressources_index') }}">
                        <button>Voir la vidéo</button>
                    </a>
                    {{ dump(app.user.roles) }}
                {% else %}

                    {% if app.user.quizResults.count == 0 %}

                        <p>
                            Il est maintenant temps de vérifier ce que tu as retenu !
                            Pas de pression, tu as le droit à deux tentatives
                        </p>

                        <a href="{{ path('ressources_quizz') }}">
                            <button>C'est parti !</button>
                        </a>

                    {% elseif app.user.quizResults.count == 1 %}

                            {% for result in app.user.quizResults %}
                                <article>
                                    <p>Résultat du 1er essai</p>
                                    <div>
                                        <p>{{ result.result }} %</p>
                                    </div>
                                </article>
                            {% endfor %}

                            <em>Il te reste une tentative !</em>

                        <a href="{{ path('ressources_quizz') }}">
                            <button>Repasser le quiz</button>
                        </a>


                    {% else %}

                            {% for result in app.user.quizResults %}
                                <article>
                                    <p>Résultat du {{ result.attempt}}er essai</p>
                                    <div>
                                        <p>{{ result.result }} %</p>
                                    </div>
                                </article>
                            {% endfor %}

                    {% endif %}

                {% endif %}
            </article>

        </section>
        <section class="row notes">
            <header>
                <h5>Notes personnelles</h5>
                <div data-toggle="modal" data-target="#noteModal">
{#                    <h6>Ajouter une note</h6>#}
                    <h1>+</h1>
                </div>
            </header>
            {% if app.user.notes.count > 0 %}
                <article>
                    <div class="row">
                        {% for note in app.user.notes %}
                            <div class="col-md-6 col-lg-3">
                                <div>
                                    <h4>{{ note.title }}</h4>
                                    <hr>
                                    <p>{{ note.content }}</p>
                                </div>
                                <div>
                                    <a href="{{ path('edit_note', {'note': note.id}) }}">edit</a>
                                    <a href="">delete</a>
                                </div>
                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                </article>
            {% endif %}
            <hr>
        </section>

        <!-- The Modal Note -->
        <div class="modal" id="noteModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Nouvelle note</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <form method="post">
                            <label for="title"></label>
                            <input type="text" name="title" id="title" placeholder="Titre" class="form-control">

                            <label for="content"></label>
                            <textarea name="content" id="content" cols="30" rows="10" class="form-control" placeholder="Contenu ..."></textarea>

                            <button type="submit" class="btn">Ajoutez !</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <!-- The Modal Profil Edition -->
        <div class="modal" id="profilModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Editer mon profil</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <form method="post" enctype="multipart/form-data">
                            <label for="firstname"></label>
                            <input type="text" name="firstname" id="firstname" placeholder="Prénom" value="{{ app.user.firstname }}" class="form-control">

                            <label for="lastname"></label>
                            <input type="text" name="lastname" id="lastname" placeholder="Nom" value="{{ app.user.lastname }}" class="form-control">

                            <label for="email"></label>
                            <input type="email" name="email" id="email" placeholder="Email" value="{{ app.user.email }}" class="form-control">

                            <label for="program"></label>
                            <select name="program" id="program">
                                <option value=""></option>
                                <option value=""></option>
                            </select>

                            <label for="image">Image Profil</label>
                            <input type="file" name="image" id="image"><br>

                            <button type="submit" class="btn">Enregistrer</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <img src="{{ asset('build/images/rocket_1.85eea7f3.jpeg') }}" alt="" id="rocket_back">
        <img src="{{ asset('build/images/helmet_1.7afae2db.jpeg') }}" alt="" id="helmet_back">

    </main>
{% endblock %}
