{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
    {{ dump(app.user) }}
    <main class="container" id="account_index">

        <div class="row">
            <header id="infos" class="col-md-6">
{#                <img src="" alt="photo_profil">#}
                <svg height="160" width="160">
                    <circle cx="80" cy="80" r="60" stroke="white" stroke-width="2" fill="darkyellow" />
                    <text x="70" y="80" fill="white">BD</text>
                </svg>
                <h2>{{ app.user.firstname}} {{ app.user.lastname }}</h2>
                <h6>{{ app.user.email }}</h6>
                <h4>Program</h4>
            </header>

            <section class="carousel col-md-6">
                <article class="checklist">

                </article>
                <article class="quiz">

                </article>
            </section>
        </div>
        <section class="notes row">

        </section>

    </main>
{% endblock %}
