{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
    <main class="container mh-100" id="account_index">

        <div class="row">
            <header id="infos" class="col-lg-4">

                <div class="row">
                    <div class="col-md-3">
                        <svg height="160" width="160">
                            <circle cx="80" cy="80" r="60" stroke="white" stroke-width="2" fill="lightgrey" />
                            <text x="70" y="80" fill="dark">BD</text>
                        </svg>
                    </div>
                    <div class="col-md-8">
                        <div>
                            <h4>{{ app.user.firstname}} {{ app.user.lastname }}</h4>
                            <h6>{{ app.user.email }}</h6>
                        </div>
                    </div>
                </div>

                <h4>Program</h4>

                {#
                                {% if program is null %}
                                    select
                                {% else %}
                                    <h4>Program</h4>
                                {% endif %}
                #}
            </header>

            <section id="quiz_check" class="col-lg-8 row">

                <article class="checklist col-md-6">
                    <h3>Checklist</h3>
                    <hr>
                    <table>
                        <tbody>
                        <tr>
                            <td><img src="{{ asset('build/images/1.svg') }}" alt=""></td>
                            <td>Je m'informe sur les métiers <br><em>Onglet Vidéo</em></td>
                        </tr>
                        <tr>
                            <td><img src="{{ asset('build/images/2.svg') }}" alt=""></td>
                            <td>J'évalue mes connaissances <br><em>Onglet Vidéo</em></td>
                        </tr>
                        <tr>
                            <td><img src="{{ asset('build/images/3.svg') }}" alt=""></td>
                            <td>Je prépare mon entretien <br><em>Onglet Vidéo</em></td>
                        </tr>
                        </tbody>
                    </table>
                </article>

                <article class="quiz col-md-6">
                    <h3>Quiz</h3>
                    <hr>
                    // if quiz no active : blabla regarder la video
                    <br>
                    // if quiz active : passer le test
                    <br>
                    // if essai 1 : result + repasser le quiz
                    <br>
                    // if 2 essais : results

                </article>

            </section>
        </div>
        <section class="notes row">
            <header>
                <h3>Notes personnelles</h3>
                <div>
                    <h6>Ajouter une note</h6>
                    <h1>+</h1>
                </div>
            </header>
            <hr>
        </section>

    </main>
{% endblock %}
