{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <section class="form-section col-10 col-md-5 col-lg-4" id="register_form">
        {{ form_start(registrationForm) }}
            <section class="group_input">
                {{
                    form_widget(registrationForm.lastname,
                        {
                            'attr':
                            {
                                'placeholder': 'Nom',
                                'class': 'form-control shadow'
                            }
                        })
                }}
                {{ form_errors(registrationForm.lastname, { 'attr': {'class': 'form-error'} }) }}

                {{
                    form_widget(registrationForm.firstname,
                        {
                            'attr':
                            {
                                'placeholder': 'Prénom',
                                'class': 'form-control shadow'
                            }
                        })
                }}
                {{ form_errors(registrationForm.firstname, { 'attr': {'class': 'form-error'} }) }}

                {{
                    form_widget(registrationForm.email,
                        {
                            'attr':
                            {
                                'placeholder': 'Email',
                                'class': 'form-control shadow'
                            }
                        })
                }}
                {{ form_errors(registrationForm.email, { 'attr': {'class': 'form-error'} }) }}

                {{
                    form_widget(registrationForm.plainPassword,
                        {
                            'attr':
                            {
                                'placeholder': 'Mot de passe',
                                'class': 'form-control shadow'
                            }
                        })
                }}
                {{ form_errors(registrationForm.plainPassword, { 'attr': {'class': 'form-error'} }) }}


                <label for="verify_pass"></label>
                <input
                        type="password" name="verify_pass" id="verify_pass"
                        class="form-control shadow" placeholder="Confirmez le mot de passe"
                >

                {% if error_check_pass is defined %}
                    <div class="form-error">
                        <ul>
                            <li>{{ error_check_pass }}</li>
                        </ul>
                    </div>
                {% endif %}

            </section>

            <button class="btn btn-round-darkblue" type="submit">
               Inscription
            </button>
        {{ form_end(registrationForm) }}

        <p>Déjà inscrit.e ? Connecte toi en cliquant sur <a href="{{ path('app_login') }}">ce lien</a></p>

        <img
                width="150px"
                src="https://rocket-school.com/wp-content/uploads/2019/03/rocket-school.png"
                alt="Fusée Rocket School" class="rocket-school-img"
        >

    </section>

{% endblock %}
