{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.solution) }}

<h2>Proposition de réponse</h2>

<ul class="proposition "
    id="proposition-fields-list"
    data-prototype="{{ form_widget(form.propositions.vars.prototype)|e }}"
    data-widget-tags="{{ '<li></li>'|e }}"
    data-widget-counter="{{ form.propositions|length }}">
    {% for proposition in form.propositions %}
        <li>
            {{ form_errors(proposition) }}
            {{ form_widget(proposition) }}
        </li>

    {% endfor %}
</ul>


<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
