{% extends 'base.html.twig' %}

{% block title %}Question index{% endblock %}

{% block body %}
    <div class="LT_page_name">
        <h2>Liste des questions</h2>
    </div>

    <table class="table content-container">
        <thead>
            <tr>
                <th></th>
                <th>Questions / solutions</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>
                    <div class="quizz-col-start">{{ question.title }}</div>
                    <div class="quizz-col-start"><em>{{ question.solution }}</em></div>
                </td>
                <td>
                    <a href="{{ path('question_edit', {'id': question.id}) }}">Edition</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('question_new') }}" class="btn btn-round-darkblue">Ajouter une question</a>
{% endblock %}
