{% extends 'base.html.twig' %}

{% block title %}FAQ - Éditer Question{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('changeUploadName') }}
{% endblock %}

{% block body %}
    <div class="faq-action-btn">
        <a href="{{ path('faq_index') }}"><button class="btn btn-round-darkblue">Retour</button></a>
        {{ include('faq/_delete_form.html.twig') }}
    </div>

    {{ include('faq/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('changeUploadName') }}
{% endblock %}

