{% extends 'base.html.twig' %}

{% block title %}Faq{% endblock %}

{% block body %}
    <div class="faq-action-btn">
        <a href="{{ path('faq_index') }}">back to list</a>
        {{ include('faq/_delete_form.html.twig') }}
    </div>

    <div class="faq-card">
        <div class="icone-btn-container">
            <a href="{{ path('faq_edit', {'id': faq.id}) }}" class="icone-btn-container">
                <img src="{{ asset('build/images/edit.png') }}" class="icone-btn icone-btn-edit" alt="Editer">
            </a>
        </div>
        <h3>{{ faq.question }}</h3>
        <div class="faq-answer-container">
            <p>{{ faq.answer }}</p>
        </div>
    </div>
    <table class="table faq-show-table">
        <tbody>
        <tr>
            <th>Id:</th>
            <th>Position:</th>
            <th>Créé le:</th>
        </tr>
        <tr>
            <td>{{ faq.id }}</td>
            <td>{{ faq.position }}</td>
            <td>{{ faq.createdAt ? faq.createdAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}
