{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}

    <section class="user_table container-fluid">
        <div class="row">
            <div class="content-container_lt col-lg-8 pb-lg-4">

                {{ form_start(form, {
                    'attr': {
                        'class': 'form-group',
                        'novalidate': 'novalidate'
                    }}) }}

                {{ form_widget(form.dataUsers, {

                    'attr': {
                        'class': 'form-search',
                        'placeholder': 'Rechercher un candidat'
                    }
                }) }}

                {{ form_widget(form.program, {
                    'attr': {
                        'class': 'form-program',

                    }
                }) }}

                <button type="submit" class="btn btn-search-user">Rechercher</button>
                {{ form_end(form) }}
            </div>
            <section class="ac_duration col-lg-2 p-lg-2">
                <div class="ac_duration_content">
                    <p>Nb. jours avant suppression candidats</p>
                    {{ form_start(formAccDu, {
                        'attr': {
                            'class': 'form-group',
                            'novalidate': 'novalidate'
                        }}) }}
                    {{ form_widget(formAccDu.days, {

                        'attr': {
                            'class': 'form-search',
                            'type': 'number',
                            'min': '0',
                        }
                    }) }}
                    <button type="submit" class="btn btn-search-user">Modifier</button>
                    {{ form_end(formAccDu) }}
                </div>
            </section>
        </div>
        <table class="table table-hover table_user">
            <thead class="thead-light">
                <tr class="tr">
                    <th class="th" scope="col">Prénom</th>
                    <th class="th" scope="col">Nom</th>
                    <th class="th" scope="col">Mail</th>
                    <th class="th" scope="col">Programme</th>
                    <th class="th" scope="col">Resultat 1</th>
                    <th class="th" scope="col">Resultat 2</th>
                    <th class="th" scope="col">Check-list</th>
                </tr>
            </thead>

            <tbody class="thead-light">
            {% if users is not empty %}

            {% for user in users %}
                {% if 'ROLE_ADMIN' not in user.roles %}
                <tr>
                    <td class="search_response"> {{ user.firstname }} </td>
                    <td class="search_response"> {{ user.lastname }} </td>
                    <td class="search_response"> {{ user.email }} </td>
                    <td class="search_response">
                        {% if user.program.name is defined %}
                            {{ user.program.name}}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                {% endif %}

            {% endfor %}

            {% endif %}

            {% if users is empty %}

                <td class="error_users_search" colspan="7">
                    Malheureusement nous n'avons pas trouvé de résultats à votre recherche </td>

            {% endif %}

            </tbody>
        </table>
    </section>
{% endblock %}
