{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
    <div class="LT_page_name {% if is_granted('ROLE_ADMIN') %} margin_top_navbar_admin{% endif %}">
        <h2>{{ page_name }}</h2>
    </div>
    <div class="content-container">
        <div class="video-container">
            <iframe src="{{ video.getEmbedUrl|replace({'watch?v=' : 'embed/'}) }}"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
        </div>
        <div class="video-title-container">
            <h2>{{ video.name }}</h2>
            <small>updated {{ video.getUpdatedAt|date }}</small>
        </div>
        <div class="video-script-container">
            <div class="video-description" id="video-description-id">
                {{ video.description|raw }}
            </div>
            <div class="btn-show-more">
                <button onclick="collapse()" class="btn" id="video-btn-show-more">Voir tout</button>
            </div>
        </div>
        {% if (is_granted('ROLE_ADMIN')) %}
            <div class="btn-container">
                <a href="{{ path('admin_video_edit') }}">
                    <button class="btn btn-round-darkblue">Modifier le contenu</button>
                </a>
            </div>
        {% else %}
            {% if (app.user.isReady) %}
                <div class="btn-container">
                    <a href="{{ path('ressources_quizz') }}">
                        <button class="btn btn-round-darkblue">Passer le test</button>
                    </a>
                </div>
            {% endif %}
            <form action="" method="get" class="form-inline">
                <div class="form-group check-video">
                    <input
                            type="checkbox"
                            name="ready"
                            id="ready"
                            class="form-control"
                            onclick="this.form.submit()"
                            {% if app.user.isReady is same as(true) %}checked{% endif %}
                    >
                    <label for="ready">J'ai compris !</label>
                </div>
            </form>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function collapse() {
            document.getElementById("video-description-id").classList.toggle("is-active");
            if (document.getElementById("video-btn-show-more").textContent === 'Voir tout')
                document.getElementById("video-btn-show-more").textContent = 'Voir moins';
            else
                document.getElementById("video-btn-show-more").textContent = 'Voir tout';
        }
    </script>
{% endblock %}
