{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
    <div class="quizz-container " id="quizz_candidat">
        {% if postValide == false %}
            <div class="quizz-alert alert alert-danger">
                <h2 class="d-flex justify-content-center">Attention : Vous n'avez pas répondu à toutes les
                    questions</h2>
            </div>
        {% endif %}
        {% if result is not same as(null) %}
            <div class="quizz-result-container">
                <h3>résultat : {{ result }}%</h3>
            </div>
        {% else %}
            {% if not is_granted('ROLE_ADMIN') %}
                {% if app.user.quizResult|length == 0 %}
                    <p class="quiz-attempt">essai numéro 1/2</p>
                {% elseif app.user.quizResult|length == 1 %}
                    <p class="quiz-attempt">essai numéro 2/2</p>
                {% elseif app.user.quizResult|length > 1 %}
                    <div class="no-more-attempt">
                        <p class="quiz-attempt">Vous avez déjà validé le test deux fois.</p>
                        <a href="{{ path('ressources_guide', {'user': app.user.id }) }}" target="_blank" class="a-btn-center">
                            <button class="btn quizz-button btn-round-clearblue" type="button">
                                Voir le guide d'entretien
                            </button>
                        </a>
                        <a href="{{ path('profil') }}" class="a-btn-center">
                            <button class="btn quizz-button btn-round-darkblue" type="button">
                                Retourner sur ma page profil
                            </button>
                        </a>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
        {% if app.user.quizResult|length < 2 %}
        {{ include('ressources/_quizzForm.html.twig') }}
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        {% if app.user.quizResult|length < 2 %}
            {% for question in questions %}
                var nbGoodAnswer = 0;
                {% for proposition in question.propositions %}
                    {% if proposition.isGood %}
                        nbGoodAnswer++;
                    {% endif %}
                {% endfor %}
                if (nbGoodAnswer == 1) {
                    var check = document.querySelectorAll('.checkmark-question-{{ question.id }}')
                    var quizInput = document.querySelectorAll('.quiz-input-{{ question.id }}')
                    check.forEach((child) => {
                        child.classList.add('round-checkmark')
                    });
                    quizInput.forEach((child) => {
                        child.type = 'radio';
                    });
                } else {
                    document.querySelector('.card-title-{{ question.id }}').innerHTML += ' (Plusieurs réponses possible)'

                }
            {% endfor %}
        {% endif %}
    </script>
{% endblock %}


