{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
    {% if postValide == false %}
        <div class="quizz-alert alert alert-danger">
            <h2 class="d-flex justify-content-center">Attention : Vous n'avez pas répondu à toutes les questions</h2>
        </div>
    {% endif %}
    {% if result != null %}
        <div class="quizz-result-container">
            <h3>résultat : {{ result }}%</h3>
        </div>
    {% endif %}
    <form action="quizz" method="POST">
        <input type="hidden" name="user_id" value="{{ app.user.id }}">

        <div class="container-fluid quizz-container" id="quizz">
            {% for question in quizz.questions %}
                <div class="card w-auto quizz-card">
                    <div class="card-body quizz-body">
                        <h3 class="card-title">{{ question.questionOrder }} - {{ question.title }}</h3>
                            {%  for proposition in question.propositions %}
                                <ul>
                                    <li class="card-text quizz-text">
                                        <label class="quizz-radio">
                                            <input type="checkbox" name="questions[{{ question.id }}][]" value="{{ proposition.id }}"
                                                {% if post %}
                                                    {% for  props in post.questions %}
                                                        {% for prop in props %}
                                                            {% if prop == proposition.id %}
                                                            checked
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endfor %}
                                                {% endif %}>
                                            <span class="checkmark"></span>
                                        </label>
                                        <P>{{ proposition.title }}</P>
                                    </li>
                                </ul>
                            {%  endfor %}
                    </div>
                    <div class="quizz-check">
                        {% if postValide == true %}
                            {% if errors is not null %}
                                {% for key, error in errors %}
                                    {%  if key == question.id %}
                                        {% if error == true %}
                                            <img src="{{ asset('build/images/icons/false-check.png') }}" style="width: 50%">
                                        {% else %}
                                            <img src="{{ asset('build/images/icons/true-check.png') }}" style="width: 50%">
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

            {% endfor %}

            {% if app.user.quizResult1 == null %}
                <p class="quiz-attempt">essai numéro 1/2</p>
            {% elseif app.user.quizResult2 == null %}
                <p class="quiz-attempt">essai numéro 2/2</p>
            {% else %}
                <p class="quiz-attempt">Vous avez déjà validé vos deux essais</p>
            {% endif %}

            {% if  app.user.quizResult2 == null %}
                <button class="btn quizz-button btn-round-darkblue btn-lg btn-block" type="submit">
                    Valider vos réponses
                </button>
            {% endif %}
        </div>
    </form>
{% endblock %}
