{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}

    <div class="LT_page_name">
        <h2>{{ page_name }}</h2>
    </div>
    <form action="quizz" method="POST">
        <div class="container-fluid quizz-container" id="quizz">
            {% for question in quizz.questions %}
                <div class="card w-auto quizz-card">
                    <div class="card-body">
                        <h3 class="card-title">{{ question.title }}</h3>
                            {%  for proposition in question.propositions %}
                                <ul>
                                    <li class="card-text quizz-text">
                                        <label class="quizz-radio">
                                            <input type="checkbox" name="questions[{{ question.id }}][]" value="{{ proposition.id }}">
                                            <span class="checkmark"></span>
                                        </label>
                                        <P>{{ proposition.title }}</P>
                                    </li>
                                </ul>
                            {%  endfor %}
                    </div>
                </div>
            {% endfor %}
            <button class="btn quizz-button btn-round-darkblue btn-lg btn-block" type="submit">
                Valider vos réponses
            </button>
        </div>

    </form>
{% endblock %}
