<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&display=swap" rel="stylesheet">
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}
        {% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
            <!-- Header + Navigation with routes  -->
            {% if app.user is not null %}
                <header>
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href={{ path('home') }}><img width="150px" src="https://rocket-school.com/wp-content/uploads/2019/03/rocket-school.png" alt="fusée sous forme de logo de la rocket school"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href={{ path('ressources_index') }}>Vidéo</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if not app.user.checklist.checkVideo and "ROLE_ADMIN" not in app.user.roles %} disabled {% endif %}" href="{{ path('ressources_quizz') }}" > Quiz </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href={{ path('ressources_faq') }}>FAQ</a>
                                </li>
                                {% if not is_granted('ROLE_ADMIN') %}
                                <li class="nav-item" >
                                    <a id="nav-link-profil" class="nav-link nav-link-disabled"  href={{ path('profil') }}>Profil</a>
                                </li>
                                {% endif %}
                                <li class="nav-item" >
                                    <a id="nav-link-profil" class="nav-link nav-link-disabled"  href={{ path('app_logout') }}>Déconnexion</a>
                                </li>
                            </ul>
                        </div>
                        <div class="LT_logo_profil navbar-brand">
                            <div class="dropdown">
                                <div class="hasImage" data-toggle="dropdown" id="dropdownMenuLink">
                                    {% if app.user.image is null %}
                                        <div class="no_image"><p>{{ app.user.firstname|first|upper}}</p></div>
                                    {% else %}
                                        <img src="{{ app.user.image }}" alt="photo" class="rounded-circle">
                                    {% endif %}
                                </div>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    {% if not is_granted('ROLE_ADMIN') %}
                                    <a class="dropdown-item" href="{{ path('profil') }}">Ma page candidat</a>
                                    {% endif %}
                                    <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
                                    <div class="delimiter"></div>
                                </div>
                            </div>
                        </div>
                    </nav>

                    {#              Navbar Admin appearring when the logged user has the admin status                   #}
                    {% if is_granted('ROLE_ADMIN') %}

                        <nav class="navbar navbar-expand-lg navbar-dark nav_admin">
                            <div class="adminBar">
                                MENU ADMINISTRATEUR
                            </div>
                            <button class="navbar-toggler  ml-auto" type="button" data-toggle="collapse"
                                    data-target="#navbarAdminNavDropdown" aria-controls="navbarNavDropdown"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarAdminNavDropdown">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href={{ path('admin_index') }}>Candidats</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href={{ path('admin_video_edit') }}>Editer Vidéo</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href={{ path('question_index') }}>Editer Quiz</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href={{ path('faq_index') }}>Editer FAQ</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>

                    {% endif %}
                </header>
            {% endif %}
            <div class="{% if app.user is not null %}LT_page_name{% else %}LT_page_name_ter{% endif %}{% if is_granted('ROLE_ADMIN') %} margin_top_navbar_admin{% endif %}">
                <h2>{{ page_name|default('') }}</h2>
            </div>
            <main>
            {% block body %}{% endblock %}
            </main>
            {{ encore_entry_script_tags('app') }}
            {% block javascripts %}
            {% endblock %}
            <!-- Footer -->
            <footer class="page-footer font-small blue">

                <div class="footer-copyright text-center py-3">
                    <a href="">contact@rocket-school.com</a>
                </div>
            </footer>
    </body>
</html>
